<!--<!DOCTYPE html>-->

<!--<html>-->

<!--  <head>-->

<!--    <title>Find Your Cause</title>-->
<!--  <link rel = "style" href="css/style.css">-->
<!--  </head>-->

<!--  <body>-->
<!--<h3 class = "enter_name">Please enter name to begin!</h3>-->

<!--<form method=POST>-->
<!--<input type="text" name= "user">-->
<!--  <br>-->
<!--  <input type = "submit" value = "enter"></form>-->
<!--  </body>-->

<!--</html>-->

